* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}


#wrapper .row {
    display: flex;
    gap: 10px;
}

#wrapper .row .box {
    width: 60px;
    height: 60px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#wrapper .row .box.active {
    background-color: hotpink;
}
#wrapper .row:nth-child(2) .box:nth-child(2)
